body{
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100rem;
}
#container{
    color: silver;
}
.digit{
    font-size: 10rem;
    font-weight: bold;
}
.txt{
    font-size: 2.5rem;
    font-weight: bold;
}
#btn-container{
    text-align: center;
    margin: 2rem;
}
.btn{
    padding: 7px 25px;
    font-size: 15px;
    margin: 0px 10px;
    color: wheat;
    cursor: pointer;
}
#start{
    background-color: green;
}
#stop{
    background-color: blue;
}
#reset{
    background-color: red;
}
